header{
	align-items: center;
	background: var(--header-bg);
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;

	.logo{
		align-items: center;
		display: flex;
		justify-content: center;

		svg{
			color: white;
			height: 40px;
		}
	}
}