.layout{
	display: flex;
	flex-direction: column;
	height: 100%;

	.content{
		display: flex;
		flex-direction: row;
		flex: 1;
	}

	.page-content{
		display: flex;
		flex: 1;
		padding: 10px 10px;
	}

}